* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  background: #E5EDF5;
}

.component-container {
  width: 90%;
  margin: auto;
}

.text-bold {
  font-weight: bold;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  padding: 30px 0;
}